[submodule "theos"]
	path = theos
	url = https://github.com/rpetrich/theos.git
	ignore = dirty
[submodule "example/theos"]
	path = example/theos
	url = https://github.com/rpetrich/theos.git
	ignore = dirty
